---
const { title, lead, stats } = Astro.props
---

<section class="py-16">
  <div class="container mx-auto px-6">
    {title && (
      <h2 class="text-black text-3xl md:text-5xl leading-[120%] font-adamina mb-4 max-w-[580px]">
        {title}
      </h2>
    )}
    {lead && (
      <p class="mb-8 text-black opacity-65">{lead}</p>
    )}
  </div>

  <div class="container mx-auto px-6">
    <ul class="grid grid-cols-1 md:grid-cols-4 gap-5">
      {stats && stats.map((stat) => (
        <li class={`p-8 ${stat.primary === true ? 'bg-primary text-white' : 'bg-white text-black'}`}>
          <span class="block text-5xl md:text-4xl lg:text-5xl xlg:text-6xl font-adamina capitalize mb-20 md:mb-36">
            {stat.number}
          </span>
          <h3 class="opacity-65">{stat.label}</h3>
        </li>
      ))}
    </ul>
  </div>
</section>

