---
// 1. We remove the old Storyblok import.
// import { storyblokEditable } from '@storyblok/astro'

// We still need the Astro Image component.
import { Image } from 'astro:assets';

// The blok prop is our "shared.features-section" data from Strapi.
const { blok } = Astro.props;
---

<!-- 2. We remove the {...storyblokEditable(blok)} from the section tag. -->
<section>
  <div class="container mx-auto px-6">
    {blok.title && <h2 class="text-black text-3xl md:text-5xl leading-[120%] font-adamina mb-8 px-6 max-w-[430px]">{blok.title}</h2>}

    <ul class="grid md:grid-cols-3 gap-6">
      {/* 3. The data structure for looping is very similar, so this stays. */}
      {blok.features && blok.features.map((feature) => (
        <li class="bg-white">
          <h3 class="p-6 text-black text-xl font-adamina capitalize">{feature.title}</h3>

          {/* 4. We update the image logic to use Strapi's format. */}
          {feature.image && feature.image.data && (
            <Image
              src={import.meta.env.PUBLIC_STRAPI_URL + feature.image.data.attributes.url}
              alt={feature.image.data.attributes.alternativeText || ''}
              width={350}
              height={242}
              class="w-full"
              loading="lazy"
            />
          )}
          <p class="p-6 text-black opacity-65">{feature.description}</p>
        </li>
      ))}
    </ul>
  </div>
</section>